<div id="sizeChart" class="size-chart-popup model-popup">
    <button class="close-modal"><img src="{{ 'close.png' | asset_url }}" /></button>
	<div class="scp-table">
		<h2 class="layer-title">SIZE CHART (INCH)</h2>
      <p class="popupp">Swipe down to check the chart not shown.<br>For full size guide, please go to <a style="color:#0000ff;" target="_blank" href="/pages/size-chart">detailed size chart</a>.</p>
          <table class="sizechart-tab">
          <tbody>
          <tr class="sizechart-tr00">
          <td>US Size</td>
          <td>Bust</td>
          <td>Waist</td>
          <td>Hips</td>
          <td>Hollow to Floor (Barefoot)</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>00</td>
          <td>30.5</td>
          <td>23.5</td>
          <td>33.75</td>
          <td>57</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>0</td>
          <td>31.5</td>
          <td>24.5</td>
          <td>34.75</td>
          <td>57</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>2</td>
          <td>32.5</td>
          <td>25.5</td>
          <td>35.75</td>
          <td>58</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>4</td>
          <td>33.5</td>
          <td>26.5</td>
          <td>36.75</td>
          <td>58</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>6</td>
          <td>34.5</td>
          <td>27.5</td>
          <td>37.75</td>
          <td>59</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>8</td>
          <td>35.5</td>
          <td>28.5</td>
          <td>38.75</td>
          <td>59</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>10</td>
          <td>36.5</td>
          <td>29.5</td>
          <td>39.75</td>
          <td>60</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>12</td>
          <td>38</td>
          <td>31</td>
          <td>41.25</td>
          <td>60</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>14</td>
          <td>39.5</td>
          <td>32.5</td>
          <td>42.75</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>16</td>
          <td>41</td>
          <td>34</td>
          <td>44.25</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>16W</td>
          <td>43</td>
          <td>36.25</td>
          <td>45.25</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>18W</td>
          <td>45</td>
          <td>38.5</td>
          <td>47.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>20W</td>
          <td>47</td>
          <td>40.75</td>
          <td>49.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>22W</td>
          <td>49</td>
          <td>43</td>
          <td>51.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>24W</td>
          <td>51</td>
          <td>45.25</td>
          <td>53.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>26W</td>
          <td>53</td>
          <td>47.5</td>
          <td>55.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>28W</td>
          <td>55</td>
          <td>49.75</td>
          <td>57.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr01">
          <td>30W</td>
          <td>57</td>
          <td>52</td>
          <td>59.5</td>
          <td>61</td>
          </tr>
          <tr class="sizechart-tr02">
          <td>32W</td>
          <td>59</td>
          <td>54.25</td>
          <td>61.5</td>
          <td>61</td>
          </tr>
          </tbody>
          </table>
	</div>
</div>

<div id="measurementPopup" class="measurement-popup model-popup">
  <button class="close-modal"><img src="{{ 'close.png' | asset_url }}" /></button>
	<div class="content-box">
		<div>
			<h3>Measurement Guide</h3> 
          <p class="popupp">Swipe down to check the measurement.<br>For full measurement guide, please go to <a style="color:#0000ff;" target="_blank" href="/pages/measurement-guide">this guide</a>.</p>
			<img src="{{ 'measurement-guide-large.jpg' | asset_url }}">
		</div> 
	</div>
</div>


<div id="image-mini-size" class="hidden">
	<img src="{{ 'measurement-guide-small.jpg' | asset_url }}" alt="" />
</div>

<div id="lists-detail-size">
	<ul>
<li data-size="00" class="specific--size active" style="opacity: 0;"><span class="sizedetailnew">Bust: 30.5in, Waist: 23.5in, Hips: 33.75in, Hollow to Floor: 57in</span></li>
<li data-size="0" class="specific--size hidden"><span class="sizedetailnew">Bust: 31.5in, Waist: 24.5in, Hips: 34.75in, Hollow to Floor: 57in</span></li>
<li data-size="2" class="specific--size hidden"><span class="sizedetailnew">Bust: 32.5in, Waist: 25.5in, Hips: 35.75in, Hollow to Floor: 58in</span></li>
<li data-size="4" class="specific--size hidden"><span class="sizedetailnew">Bust: 33.5in, Waist: 26.5in, Hips: 36.75in, Hollow to Floor: 58in</span></li>
<li data-size="6" class="specific--size hidden"><span class="sizedetailnew">Bust: 34.5in, Waist: 27.5in, Hips: 37.75in, Hollow to Floor: 59in</span></li>
<li data-size="8" class="specific--size hidden"><span class="sizedetailnew">Bust: 35.5in, Waist: 28.5in, Hips: 38.75in, Hollow to Floor: 59in</span></li>
<li data-size="10" class="specific--size hidden"><span class="sizedetailnew">Bust: 36.5in, Waist: 29.5in, Hips: 39.75in, Hollow to Floor: 60in</span></li>
<li data-size="12" class="specific--size hidden"><span class="sizedetailnew">Bust: 38in, Waist: 31in, Hips: 41.25in, Hollow to Floor: 60in</span></li>
<li data-size="14" class="specific--size hidden"><span class="sizedetailnew">Bust: 39.5in, Waist: 32.5in, Hips: 42.75in, Hollow to Floor: 61in</span></li>
<li data-size="16" class="specific--size hidden"><span class="sizedetailnew">Bust: 41in, Waist: 34in, Hips: 44.25in, Hollow to Floor: 61in</span></li>
<li data-size="16W" class="specific--size hidden"><span class="sizedetailnew">Bust: 43in, Waist: 36.25in, Hips: 45.25in, Hollow to Floor: 61in</span></li>
<li data-size="18W" class="specific--size hidden"><span class="sizedetailnew">Bust: 45in, Waist: 38.5in, Hips: 47.5in, Hollow to Floor: 61in</span></li>
<li data-size="20W" class="specific--size hidden"><span class="sizedetailnew">Bust: 47in, Waist: 40.75in, Hips: 49.5in, Hollow to Floor: 61in</span></li>
<li data-size="22W" class="specific--size hidden"><span class="sizedetailnew">Bust: 49in, Waist: 43in, Hips: 51.5in, Hollow to Floor: 61in</span></li>
<li data-size="24W" class="specific--size hidden"><span class="sizedetailnew">Bust: 51in, Waist: 45.25in, Hips: 53.5in, Hollow to Floor: 61in</span></li>
<li data-size="26W" class="specific--size hidden"><span class="sizedetailnew">Bust: 53in, Waist: 47.5in, Hips: 55.5in, Hollow to Floor: 61in</span></li>
<li data-size="28W" class="specific--size hidden"><span class="sizedetailnew">Bust: 55in, Waist: 49.75in, Hips: 57.5in, Hollow to Floor: 61in</span></li>
<li data-size="30W" class="specific--size hidden"><span class="sizedetailnew">Bust: 57in, Waist: 52in, Hips: 59.5in, Hollow to Floor: 61in</span></li>
<li data-size="32W" class="specific--size hidden"><span class="sizedetailnew">Bust: 59in, Waist: 54.25in, Hips: 61.5in, Hollow to Floor: 61in</span></li>

	</ul>
</div>
{% unless product.tags contains 'Accessories' or product.tags contains 'No Color Chart' %}
<div id="order-a-swatch" class="hidden" style="letter-spacing: -.5px;">
	(<a href="/pages/color-chart?ref=productpage"><img style="width: 80px;margin-bottom: -1px;;" src="https://cdn.shopifycdn.net/s/files/1/0643/9976/9858/files/colorchart-ico6.gif?v=1661608538"></a>{% comment %}<a style="color: #0000ff;" href="/pages/color-chart?ref=productpage">Color Chart</a>{% endcomment %} | <a style="color: #ff5722;" href="/products/swatches?ref=productpage">FREE Swatches</a>)
</div>
{% endunless %}
<div id="shop-more-color" class="hidden">
	<a href="#">Shop more in this color</a>
</div>
<!-- Check product Type And Color list -->
<script>
	LAVETIR.productType = "{{ product.type | handle }}";
	LAVETIR.listColors = ["Light Burgundy","Sage","Aqua Blue","Black","Burgundy","Burnt Orange","Champagne","Coral","Dark Green","Dusty Blue","Dusty Rose","Dusty Sage","Emerald","Fuchsia","Gold","Gray","Hot Pink","Ink Blue","Ivory","Jay Blue","Light Blue","Light Purple","Lilac","Mauve","Mist Blue","Mulberry","Mustard Yellow","Navy Blue","Ocean Blue","Olive Green","Orange","Orchid","Peach Pink","Peacock","Pearl Pink","Pink","Plum","Purple","Red","Royal Blue","Rust","Sage","Silver","Sky Blue","Spa","Steel Blue","Stormy Blue","Taupe","Turquoise","White","Wisteria","Yellow","Klein Blue","Daffodil"];
</script>