{%- form 'product', product, id: form_id, class: 'product-single__form' -%}
<p class="line-item-property__field global-itemnote-field">
 <label for="item-note">Item Note</label>
 <textarea style="min-height: 68px;width: 100%;" id="item-note" name="properties[Item Note]" placeholder="If you have any special request for this item, e.g. custom color, etc., please make note here."></textarea>
</p>  
{% comment %}
              <p class="makenotetips">
                    <span class="icon icon--inventory"></span>
                    <span class="note-tips-span">If you have any special requests, please tell us in above "Item Note".</span>
              </p>  

              <p class="pro-tips">
                <span><a target="_blank" rel="nofollow" href="/pages/size-chart">Size Chart</a></span>
                <span><a target="_blank" rel="nofollow" href="/products/swatches">$1 Free Shipping Color Swatch</a></span>
              </p>  
{% endcomment %}
      {% if product.type == "Bridesmaid Dresses" %}
      <p class="deliverydate">Order <strong>today</strong>, get it <span>{%assign days = 5|times:86400%}{{"now"|date:"%s"|plus:days|date:"%b %d,%Y"}} - {%assign days = 12|times:86400%}{{"now"|date:"%s"|plus:days|date:"%b %d,%Y"}}</span></p>
      {% endif %}
{% comment %}  
  {%- liquid
    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder'
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}
{% endcomment %}
    {%- liquid
      assign default_text = 'products.product.add_to_cart' | t
      assign button_text = 'products.product.add_to_cart' | t
      if template contains 'preorder'
        assign default_text = 'products.product.preorder' | t
        assign button_text = 'products.product.preorder' | t
      endif
      unless current_variant.available
        assign button_text = 'products.product.sold_out' | t
      endunless
    -%}
    <div class="custom__btn-wrap">
    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      data-add-to-cart
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span data-add-to-cart-text data-default-text="{{ default_text }}">
        {{ button_text }}
      </span>
    </button>

        {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
{% unless the_snippet_fave_icon contains 'Liquid error' %}
    {{ the_snippet_fave_icon }}
{% endunless %}    
</div>
    {%- if enable_dynamic_buttons -%}
      {{ form | payment_button }}
    {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {%- if variant.available -%}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected"{% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {%- else -%}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {%- endif -%}
    {%- endfor -%}
  </select>

  <textarea data-variant-json class="hide" aria-hidden="true" aria-label="Product JSON">
    {{ product.variants | json }}
  </textarea>
  {%- if product.options.size > 1 -%}
    <textarea data-current-variant-json class="hide" aria-hidden="true" aria-label="Variant JSON">
      {{ current_variant | json }}
    </textarea>
  {%- endif -%}
{%- endform -%}
