<span style="display:none;">111111</span>
{% assign url = shop.url %}
{% if template contains 'product' %}
{% assign fa_current_variant = product.selected_or_first_available_variant %}
{% assign fa_variant_count = product.variants | size %}
{% assign fa_count = 0 %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | strip_html | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.variants.first.sku != blank %}"sku": "{{ product.variants.first.sku }}",{% else %}"sku": "{{ product.variants.first.id }}",{% endif %}
  "productID": "{{ product.id }}",
  "brand": {
    "@type": "Brand",
    "name": "{{ product.vendor | escape }}"
  },
  "description": "{{ product.description | strip_html | escape | strip_newlines }}",
  "image": "https:{{ product.featured_image.src | img_url: '900x' }}",
  {% if product.variants %}{% assign fa_count = fa_count | plus: 1 %}"offers": {% if product.variants.size > 1 %}[{% endif %}
      {
        "@type" : "Offer",
        "priceCurrency": "{{ shop.currency }}",
        "price": "{{ fa_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
        "itemCondition" : "http://schema.org/NewCondition",
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}InStock{% endif %}",
        "url" : "{{ shop.url }}{{ fa_current_variant.url }}",
        {% if fa_current_variant.image %}{% assign variant_image_size = fa_current_variant.image.width | append: 'x' %}"image": "https:{{ fa_current_variant.image.src | img_url: variant_image_size }}",{% else %}"image": "https:{{ product.featured_image.src | img_url: '900x' }}",{% endif %}
        {% if fa_current_variant.title != 'Default Title' %}"name" : "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",{% else %}"name" : "{{ product.title | strip_html | escape }}",{% endif %}  
        {% if fa_current_variant.sku != blank %}"sku": "{{ fa_current_variant.sku }}",{% else %}"sku": "{{ fa_current_variant.id }}",{% endif %}
        {% if product.description != blank %}"description" : "{{ product.description | strip_html | escape | strip_newlines }}",{% endif %}
        "priceValidUntil": "{{ 'now' | date: '%s' | plus: 864000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"}{% if product.variants.size != 1 %},{% endif %}
        {% for variant in product.variants %}{% if variant != product.selected_or_first_available_variant %}{% assign fa_count = fa_count | plus: 1 %}{
          "@type" : "Offer",
          "priceCurrency": "{{ shop.currency }}",
          "price": "{{ variant.price | money_without_currency  | strip_html | remove: ',' }}",
          "itemCondition" : "http://schema.org/NewCondition",
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}InStock{% endif %}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          {% if variant.image %}{% assign variant_image_size = variant.image.width | append: 'x' %}"image": "http:{{ variant.image.src | img_url: variant_image_size }}",{% else %}"image": "https:{{ product.featured_image.src | img_url: '900x' }}",{% endif %}
          {% if variant.title != 'Default Title' %}"name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",{% else %}"name" : "{{ product.title | strip_html | escape }}",{% endif %}
          {% if variant.sku != blank %}"sku": "{{ variant.sku }}",{% else %}"sku": "{{ variant.id }}",{% endif %}
          {% if product.description != blank %}"description" : "{{ product.description | strip_html | escape | strip_newlines }}",{% endif %}
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: 864000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"}{% if fa_count < fa_variant_count %}{% unless forloop.last %},{% endunless %}{% endif %}{% endif %}
      {% endfor %}{% if product.variants.size > 1 %}]{% endif %}
  {% endif %}
  
        ,{% capture ssw_rich_snippet %}{% render 'ssw-widget-avg-rate-rich' %}{% endcapture %}{% unless ssw_rich_snippet contains 'Liquid error' %}{{ ssw_rich_snippet }}{% endunless %}    }
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{url}}"
  },
  {% if collection %}
  {
    "@type": "ListItem",
    "position": 2,
    "name": "{{ collection.title }}",
    "item": "{{url}}/{{ collection.handle }}"
  },
  {
    "@type": "ListItem",
    "position": 3,
    "name": "{{ product.title }}",
    "item": "{{ canonical_url }}"
  }
  {% else %}
  {
    "@type": "ListItem",
    "position": 2,
    "name": "{{ product.title }}",
    "item": "{{ canonical_url }}"
  }
  {% endif %}
  ]
}
</script>
{% elsif template contains 'article' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Article",
  "name": "{{ article.title }}",
  "description": "{{ article.content | split: '[lang2]' | first | strip_html }}",
  "author": "{{ article.author }}",
  "image": "{{ article | img_url: '1024x1024' }}",
  "headline": "{{ blog.title }}",
  "datePublished": "{{ article.created_at | date: format: 'abbreviated_date' }}",
  "dateModified": "{{ article.published_at | date: '%Y-%m-%d' }}"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{url}}"
  },
  {
    "@type": "ListItem",
    "position": 2,
    "name": "{{ article.title }}",
    "item": "{{ canonical_url }}"
  }]
}
</script>
{% elsif template contains 'collection' and collection.handle %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "CollectionPage",
  "name": "{{ collection.title }}",
  "url": "{{ canonical_url }}",
  "description": "{{ collection.description | split: '[lang2]' | first | strip_html | escape | strip_newlines}}"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{url}}"
  },
  {
    "@type": "ListItem",
    "position": 2,
    "name": "{{ collection.title }}",
    "item": "{{ canonical_url }}"
  }]
}
</script>
{% endif %}